@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-left: 64px;
    margin-top: 63px;
}
.container_text{
    background: blue;
    width: 850px;
    height: 176px;
    font-size: 72px;
    
}
.div_big{
    display: flex;
    flex-direction: row; /* Asegura que los elementos se alineen horizontalmente */
    gap: 16px; /* Espacio entre los contenedores */
  }

.div_img {
    background-color: green;
    width: 316px; /* Ancho de cada contenedor */
    height: 402px;
    text-align: center;
    
}
.div_img img{
    background: orange;
    width: 316px;
    height: 402px;
    position: relative;
}
.div_img h4{
    top: -60px;
    position: relative;
}
.div_img p{
    top: -60px;
    position: relative;
}

.div_text{
    background: red;
    margin-top: 60px;
    width: 316px;
    height: 133px;

}