:root{
    --color-1: #363830; 
    --color-2: hsl(0, 0%, 100%);
    --color-3: hsla(0, 0%, 100%, 0.600);
    --color-4: hsl(180, 6%, 61%, 100%);
    --color-5: hsl(202, 7%, 80%, 100%);

}
@font-face {
    font-family: "Poppins-Bold";
    src: url(../storage/fonts/poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Avenir-Roman";
    src: url(../storage/fonts/avenir/AvenirLTStd-Roman.otf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(../storage/fonts/poppins/Poppins-Bold.ttf);
}