@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_img{
    background: violet;
    width: 716px;
    height: 932px;
    margin-top: 67px;
    
}
.container{
    /* background: green; */
    margin-left: 716px;
    padding-left: 112px;
    padding-top: 110px;
    margin-top: -1020px;
    
}
.container_text{
    /* background: red; */
   
}
.container_text h1{
    width: 500px;
    height: 153px;
    font-family: "Avenir-Heavy";
    font-size: 64px;
    color: var(--color-2);
}
.container_text p{
    width: 500px;
    height: 144px;
    font-family: "Avenir-Roman";
    font-size: 26px;
    margin-top: 32px;
    color: var(--color-3);
}
.container_text button{
    background: var(--color-2);
    width: 158px;
    height: 54px;
    font-family: "Avenir-Roman";
    font-size: 18px;
    margin-top: 20px;
    border-radius: 16px;
    color: var(--color-1);
}
.container_list{
    /* background: blue; */
    margin-top: 95px;
    width: 500px;
    height: 147px;
}
.container_list h3{
    
    font-family: "Avenir-Heavy";
    font-size: 32px;
    color: var(--color-4);
    margin-top: 40px;
}
.container_list p{
    font-size: 24px;
    font-family: "Avenir-Roman";
    color: var(--color-3);
}
