@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(var(--color-5) 70%, var(--color-3) 30%);

}
.container_main{
    width: 1440px;
    height: 1131px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 115px;
    padding-bottom: 64px;
}
.container_text{
    /* background: blue; */
    width: 483px;
    height: 426px;
    margin-top: 181px;
    h1{
        font-size: 72px;
        font-family: "Avenir-Heavy";
        color: var(--color-2);
    }
    p{
        font-size: 24px;
        font-family: "Avenir-Roman";
        color: var(--color-2);
        margin-top: 25px;
    }
    button{
        width: 288px;
        height: 66px;
        font-size: 24px;
        margin-top: 40px;
        font-family: "Avenir-Roman";
        background: var(--color-2);
        color: var(--color-3);
        border-radius: 36px;
    };
    
}
.container_imgRight{
    /* background: violet; */
    width: 690px;
    height: 671px;
    margin-top: 86px;
    margin-left: -72px;
    margin-right: 64px;
}
.container_imgLeft{
    /* background: orange; */
    width: 648px;
    height: 369px;
    margin-top: -64px;

}
.container_groupText{
    /* background: green; */
    width: 483px;
    height: 121px;
    margin-left: 81px;
    margin-top: 80px;
    h3{
        margin-top: 20px;
        font-size: 24px;
        font-family: "Avenir-Heavy";
        color: var(--color-2);
    }
    p{
        font-size: 22px;
        font-family: "Avenir-Medium";
        color: var(--color-2);
    }
}
.container_groupImg{
    /* background: purple; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / 3;
    width: 483px;
    height: 100px;
    margin-left: 81px;
    margin-top: -100px;
    font-size: 22px;
    font-family: "Avenir-Roman";
    color: var(--color-4);
    
}