<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Page12</title>
</head>
<body>
    <main class="container_main">
        <section class="container_text">
            <article class="text">
                <h1>Discover.</h1>
                <h1>Explore.</h1>
                <h1>Inspire.</h1>
            </article>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <button>Explore</button>
        </section>
        <section class="img_vectors">
            <div class="img1"> <img src="storage/img/imgPage12-1.svg"></div>
            <div class="img2"> <img src="storage/img/imgPage12-2.svg"></div>
            <div class="img3"> <img src="storage/img/imgPage12-3.svg"></div>
            <div class="v1"> <img src="storage/img/imgPage12-4.svg"></div>
            <div class="v2"> <img src="storage/img/imgPage12-5.svg"></div>
            <div class="v3"> <img src="storage/img/imgPage12-6.svg"></div>
            <div class="v4"> <img src="storage/img/imgPage12-7.svg"></div>
        </section>
        <section class="container_card">
            <img src="storage/img/imgPage12-8.svg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
        </section>
    </main>
</body>
</html>