@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_icon{
    /* background: red; */
    margin-top: 64.75px;
    margin-left: 64.75px;
    width: 101.04px;
    height: 101.16px;
}
.container_text{
    /* background: blue; */
    margin-top: 55px;
    margin-left: 64px;
    width: 653px;
    height: 460px;
}
.container_text h1{
    font-size: 64px;
    font-family: "Playfair-Bold";
    color: var(--color-2);
}
.container_text p{
    font-size: 24px;
    font-family: "WorkSans-Regular";
    color: var(--color-1);
}
.container_text button{
    font-size: 24px;
    border-radius: 16px;
    background: var(--color-2);
    width: 220px;
    height: 66px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: "WorkSans-Medium";
    color: var(--color-1);
    
}
.container_img {
    /* background: violet; */
    margin-top: -610px;
    margin-left: 741px;
    width: 635.31px;
    height: 778.19px;
}
.container_list{
    /* background: green; */
    margin-top: -90px;
    margin-left: 64px;
    width: 652px;
    height: 118px;
}